*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1a212f;
    }
/*titulo do site*/
#titulo{
    text-align: right;
    padding: large;
    color: aquamarine;}
/*menu superior*/
#menu{
    max-width: max-content;
    font-size: 20px;
    text-decoration: none;
    color: aquamarine;
    padding: 8px;}
/*Cabeçalho*/
#header{
    padding: 15px;
    text-align: center;}
#header a:link, #header a:visited{
    text-decoration: none;
    color:white ;}
#header a:hover, #header a:active {
    color: #1a212f;
    background: aquamarine;}
/*Rodapé*/
#rodape{
    background-color: aquamarine;
    color: slategray;}
/*midias e conteúdos*/
.homemestudando{
    margin: auto;

}
img{
    width: auto;
    height: 300px;
    border: 2px solid aquamarine;
    border-radius: 20px 2px;}
table{
    text-decoration: none;
    margin: auto;
    border: 1px;
    border-color: aquamarine;
    height: 150px;
    width: 280px;
    text-align: center;
    color: white;}
button{
    background-color: aquamarine;
    font-size: larger;
    color: #1a212f;}
input[type="submit"] {
    color: white;
    background-color:aquamarine;}
textarea,input {
    margin: 10px;
    padding: 10px;
    color: #1a212f ;
    background-color: white;
    width: auto;
}
p{  
    width: 520px auto;
    height: fit-content;
    margin: 10px;
    padding: 1px;
    color: white;
    text-align:justify;
    font-size:16px;}
ul, ol, li{
    width: 920px;
    margin: 5px auto;
    text-align: left;
    color: aquamarine;
    font-size: 16px;}
a{
    text-decoration: none;
    color: white}
