*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1a212f;
    text-decoration: none;}
/* logo principal */
#logo{
    border-radius: 20px 2px;
    width: 50%;
    border: 2px solid aquamarine;
    float: initial;
    }
/*titulo do site*/
#titulo{
    text-align: right;
    padding: large;
    color: aquamarine;}
/*menu superior*/
#menu{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: aquamarine;
    border: 1px;
    padding: 10px;}
/*Cabeçalho*/
#header{
    padding: 3px;
    text-align: center;}
#header a:link, 
#header a:visited{
    color: #ffffff;}
#header a:hover{
    color: slategray;
    background-color: aquamarine;}
/*Rodapé*/
#rodape{
    background-color: aquamarine;
    color: slategray;}
/*midias e conteúdos*/
img{
    width: 180px;
    border: 2px solid aquamarine;
    border-radius: 20px 2px;
    margin: 20px;
    float: inline-end;}
table{
    text-align: left;
    display: inline-block;
    color: white;}
button {
  background-color: aquamarine;
  font-size: medium;
  color: #1a212f;}
input[type="submit"] {
  color: white;
  background-color: green;}
textarea,input {
    color: #1a212f ;
    background-color: white;}
p{  margin: 8px;
    padding: 12px;
    color: white;
    text-align:justify;
    font-size:20px;}
ul, ol{
    text-align: left;
    color: white;
    font-size: 16px;}