*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1a212f;
    text-decoration: none;}
/* logo principal */
#logo{
    border-radius: 20px 2px;
    width: 50%;
    border: 2px solid aquamarine;
    float: initial;
    box-sizing: border-box;
    }
/*titulo do site*/
#titulo{
    text-align: right;
    padding: large;
    color: aquamarine;}
/*menu superior*/
#menu{
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: aquamarine;
    padding: 8px;}
/*Cabeçalho*/
#header{
    padding: 20px;
    text-align: center;}
#header a:visited{
    color: #ffffff;}
#header a:hover{
    content-visibility: visible;
    color: black;
    background-color: aquamarine;}
/*Rodapé*/
#rodape{
    background-color: aquamarine;
    color: slategray;}
    /*midias e conteúdos*/
img{
    border: 2px solid aquamarine;
    border-radius: 20px 2px;
    margin: 5px;
    box-sizing: border-box;
    float: inherit;}
table{
    margin: auto;
    border-color:aquamarine;
    height: 100px;
    width: 350px;
    text-align: center;
    color: white;}
button {
  background-color: aquamarine;
  font-size: medium;
  color: #1a212f;}
input[type="submit"] {
  color: white;
  background-color: green;}
textarea,input {
    color: #1a212f ;
    background-color: white;}
p{  margin: 2px;
    padding: 6px;
    color: white;
    text-align:justify;
    font-size:18px;}
ul, ol{
    text-align: left;
    color: aquamarine;
    font-size: 22px;}

